<div class="container game">
<svg id="snap" height="500" width="100%" viewBox="1 1 500 500" style="background-color: #343434" >
  <path
    d="M50 500 L50 0 L400 0 L400 50 L380 50 L380 20 L70 20 L70 500 Z"
    id="base"
    style="fill: #fff;">
  </path>
  <path
  d="M70 100 L150 20 L130 20 L70 80 Z"
  id="part_1"
  style="fill: #fff;"
  ></path>
  <path
    d="M389 50 L389 70 L391 70 L391 50 Z"
    id="rope"
    style="fill: #fff;">
  </path>
  <ellipse cx="390" cy="100" rx="25" ry="30" style="stroke:#fff;fill: #343434;stroke-width:2" />
</svg>
  <app-hangman-game-word style="height: 100%; width: 100%;"></app-hangman-game-word>
</div>